# Cartelle generate da Gradle
/.gradle/
/build/
/out/

# File di configurazione IDE
/.idea/
/*.iml

# File di log
/logs/
/*.log

# Cache di Android Studio
/captures/
/.externalNativeBuild/

# Keystore (evita di committare file sensibili)
/*.keystore
/*.jks

# Dipendenze di Firebase
/google-services.json

# File generati da il sistema operativo
.DS_Store
Thumbs.db

# Nodi specifici di Kotlin
*.kts

/local.properties

!build.gradle.kts
!app/build.gradle.kts
!backend/build.gradle.kts
!domain/build.gradle.kts
!sync/build.gradle.kts
!ui/build.gradle.kts
!cache/build.gradle.kts
!settings.gradle.kts

